*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 72px;
    background-color: green;
}
#logo{
    height: 150px;
    padding-top: 13px;
}
.container{
    width: 100%;
    height: 100%;
    padding: 1rem 0;
}

nav{
    display: none;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: white;
    padding: 5px;
    width: 30%;
    border-radius: 20px;
    padding-left: 10px;
    display: none;
} 


#search{
    color: black;
    font-size: 15px;
}

#searchbox{
    border: none;
    width: 100%;
    outline: none;
}

.navlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 10px;
    color: white;
}

#coverphoto{
    width: 100%;
}

.section2 h2{
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}
.section2{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.product img{
    width: 144px;
    display: block;
    margin: auto;
}
.productlist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem
    
}
.productlist{
    width: 80%;
}
.product{
    border: solid;
    border-color: beige;
    padding: 0.8rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.25rem;
}

.rating{
    color: orange;
}

#addbutton{
    background-color: green;
    color: white;
    padding: 0.25rem ;
    border-radius: 0.5rem;
    border: none;
    transition: ease-in;
}
#addbutton:hover{
    background-color: rgb(111, 178, 111);
}

.ratingandadd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

@media only screen and (min-width: 576px) {
    .productlist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 7rem;
        width: 100%;
        
    }
}




@media only screen and (min-width: 768px) {
    #menu{
        display: none;
    } 
    nav{
        display: block;
    }
    .searchbar{
        display: flex;
    }
}


    
            

        
    

    

